@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>@ViewBag.Message</h1>
    <a href="https://localhost:7263/Start/One/">One</a>
    <br />
    <a href="https://localhost:7263/Start/Two/">Two</a>
    <br />
    <a href="https://localhost:7263/Start/Three/">Three</a>
</body>
</html>