@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uri04</title>
</head>
<body>
    <p>DateTime: Id = @ViewBag.Id</p>
</body>
</html>